.page-wrap {
    width: 1280px;
    margin: 0 auto;
}

.header-menu {
    margin-top: 26px;
    text-align: center;
}

.menu-item {
    padding-left: 72px;
    display: inline-block;
}

.menu-item:first-child {
    padding-left: 0;
}

.menu-item:last-child {
    padding-left: 50px;
}

.menu-item a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 2.7px;
    color: #FF0000;
    
}

.main {
    text-align: center;
}

.main-image {
    margin-top: 26px;
    width: 100%;
}


.main-title {
    margin-top: 49px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3.3px;
    line-height: 27px;
    
    color: #373737;
}

.main-text {
    margin-top: 38px;
    margin-left: 5.25%;
    width: 89.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;

}

.main-text:last-child {
    margin-top: 28px;
}

.box {
    text-align: center;
}

.btn {
    margin-top: 66px;
    width: 191px;
    height: 51px;
    background-color: #FF0000;
    border-radius: 4px;
    border-color: #FF0000;
    border-style: none;
}

.btn a {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-decoration: none;
    color: #FFFFFF;
}
.copyright {
    margin-top: 82px;
    margin-bottom: 29px;
    margin-left: 56%;
    width: 40%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #373737;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;

}