.page-wraper {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 80px;
}

.logo a {
    text-decoration: none;
    color: black;
}

.logo-active {
    color: #4BCAFF;
}

.header-nav {
    width: 100%;
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.header-list {
    display: flex;
    flex-grow: 1;
}

.header-list-item {
    background-color: #35444F;
    border-right: 1px solid white;
}

.header-list-item a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    text-decoration: none;
    font-size: 23px;
}

.header-list-item:nth-child(1) {
    width: 162px;
    background-color: #35444F;
}

.header-list-item:nth-child(2) {
    padding: 26px 33px 19px 32px;
}

.header-list-item:nth-child(3) {
    padding: 26px 37px 19px 38px;
}

.header-list-item:nth-child(3):hover {
    background-color: #222F3A;
}
.header-list-item:nth-child(4) {
    padding: 26px 40px 19px 40px;
}

.header-list-item:nth-child(5) {
    padding: 26px 38px 19px 40px;
}

.header-list-item:nth-child(6) {
    width: 133px;
    background-color: #35444F;
    border: 0;
    flex-grow: 1;
}

.main {
    margin-top: 48px;
    display: flex;
}

.main-nav {
    height: 426px;
    margin-right: 52px;
    display: flex;
    border: 1px solid #000000;
}

.main-list-item {
    padding: 26px 82px 26px 42px;
}

.main-list-item:nth-child(2):hover {
    background: #DBDBDB;
}
.main-list-item:last-child {
    padding-bottom: 30px;
}

.main-list-item a {
    color:#485863;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 27px;
    text-decoration: none;
    
}
.content {
    display: flex;
    flex-direction: column;
}

.content-img {
    padding: 75px 268px 73px 297px;
}

.content-text {
    margin-top: 37px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.content-text:last-child {
    margin-top: 34px;
}

.footer {
    margin-top: 54px;
    margin-bottom: 30px;
    background: rgba(99, 105, 110, 0.48);
}

.footer-list {
    display: flex;
    justify-content: space-around;
    padding-left: 42px;
    padding-right: 42px;
}

.footer-list-item {
    padding: 20px 7px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
}

.footer-list-item  a {
    text-decoration: none;
    color: #0C1927
} 

.footer-list-item:last-child {
    padding-left: 135px;
    font-size: 24px;
    line-height: 24px;
}